@use "../settings/variables.scss" as *;

.article-content {
	max-width: 521px;
	&__title {
		padding-top: 5px;
		margin-bottom: 30px;
		@media (max-width: 580px) {
			max-width: 237px;
			margin-bottom: 20px;
		}
	}
	&__text-1 {
		margin-bottom: 28px;
	}
	&__text-2 {
		margin-bottom: 0px;
	}
	&__text-3 {
		margin-bottom: 0px;
		text-indent: 9px;
	}
	&__text-4 {
		margin-bottom: 28px;
	}
	&__text-5 {
		text-indent: 9px;
	}
	&__text {
		@media (max-width: 580px) {
			letter-spacing: 7.5%;
		}
	}
	&_reverse {
		margin-right: -15px;
		margin-left: 15px;
		@media (max-width: 1200px) {
			margin-right: 0;
		}
		@media (max-width: 1024px) {
			margin-left: 0;
		}
		.article-content__title {
			padding-top: 0;
			@media (max-width: 420px) {
				margin-bottom: 10px;
			}
		}
	}
}
