@use "../settings/variables.scss" as *;

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	padding: 11px 33px;
	border-radius: 8px;
	line-height: 178%;
	letter-spacing: -3.5%;
	cursor: pointer;

	&_add {
		color: $white;
		border: none;
		background-color: $green_brand;
		transition: opacity 0.2s ease;
		&:hover {
			background-color: $hover;
		}
		&:active {
			background-color: $color_primary;
		}
	}
}
