@use "../settings/variables.scss" as *;

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	cursor: pointer;

	&_text {
		padding: 11px 33px;
		border: none;
		background-color: $green_brand;
		transition: background-color 0.3s ease;
		.btn__title {
			font-weight: 500;
			letter-spacing: -3.5%;
			color: $white;
		}
		.btn__icon {
			display: none;
		}
		&:hover {
			background-color: $hover;
		}
		&:active {
			background-color: $color_primary;
		}
	}

	&_icon {
		padding: 10px;
		border: 2px solid $light_grey_stroke;
		background-color: $white;
		transition: background-color 0.3s ease, border 0.3s ease;
		.btn__icon {
			width: 24px;
			height: 24px;
			fill: $green_brand;
		}
		.btn__title {
			display: none;
		}
		&-active {
			border: 2px solid $green_brand;
			background-color: $green_brand;
			.btn__icon {
				stroke: $white;
			}
		}
	}

	&_icon-text {
		padding: 20px 30px 20px 14px;
		border: 2px solid $light_grey_stroke;
		background-color: $white;
		transition: border 0.3s ease;
		.btn__title {
			font-size: 14px;
			line-height: 178%;
			text-transform: uppercase;
			color: $text_primary;
		}
		.btn__icon {
			width: 28px;
			height: 28px;
			fill: $green_brand;
			margin-right: 8px;
		}
		&:hover {
			border: 2px solid $invisible_green;
		}
		&:active {
			border: 2px solid $green_brand;
			.btn__title {
				color: $green_brand;
			}
		}
		@media (max-width: 768px) {
			padding: 13px 29px 12px 14px;
			font-size: 14px;
		}
	}

	&_view {
		padding: 10px 32px;
		background-color: $white;
		border: 1px solid $light_grey_stroke;
		transition: border 0.3s ease;
		.btn__title {
			font-weight: 500;
			letter-spacing: -3.5%;
			color: $green_brand;
		}
		.btn__icon {
			display: none;
		}
		&:hover {
			border: 1px solid $green_brand;
		}
		&:active {
			border: 1px solid $green_brand;
		}
		@media (max-width: 768px) {
			padding: 8px 23px;
			.btn__title {
				font-size: 14px;
			}
		}
	}

	&_blog {
		padding: 10px 32px;
		background-color: $white;
		border: 1px solid $light_grey_stroke;
		transition: border 0.3s ease;
		.btn__title {
			font-weight: 500;
			letter-spacing: -3.5%;
			color: $green_brand;
		}
		.btn__icon {
			display: none;
		}
		&:hover {
			border: 1px solid $green_brand;
		}
		&:active {
			border: 1px solid $green_brand;
		}
		@media (max-width: 768px) {
			padding: 8px 33px;
			.btn__title {
				font-size: 14px;
			}
		}
	}

	&_adaptive {
		@media (max-width: 768px) {
			padding-block: 10px;
			.btn__title {
				font-size: 14px;
			}
		}
	}
}

// _view and _blog get together about padding leaft-right
