@use "../settings/variables.scss" as *;

.price-range {
	max-width: 232px;

	&__inputs {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 16px;
	}

	&__field {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	&__label {
		font-size: 14px;
		color: $text_secondary;
		margin-bottom: 2px;
	}

	&__input {
		width: 95px;
		padding: 8px;
		border: 1px solid $light_grey_stroke;
		border-radius: 8px;
	}

	&__separator {
		width: 18px;
		height: 2px;
		background-color: $text_secondary;
		translate: -2px 15px;
	}

	&__slider {
		position: relative;
		height: 20px;
	}

	&__track,
	&__progress {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 4px;
		border-radius: 2px;
	}

	&__track {
		width: 100%;
		background-color: $light_grey_stroke;
	}

	&__progress {
		background-color: $green_brand;
		z-index: 1;
	}

	&__range {
		position: absolute;
		width: 100%;
		height: 20px;
		background: none;
		pointer-events: none;
		appearance: none;

		&::-webkit-slider-thumb {
			pointer-events: all;
			appearance: none;
			width: 16px;
			height: 16px;
			background-color: $green_brand;
			border-radius: 50%;
			cursor: pointer;
			border: none;
		}

		&::-moz-range-thumb {
			pointer-events: all;
			width: 16px;
			height: 16px;
			background-color: $green_brand;
			border-radius: 50%;
			cursor: pointer;
			border: none;
		}
	}
}
