@use "../settings/variables.scss" as *;

.info {
	width: 56px;
	height: 56px;
	background-color: $white;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__icon {
		width: 24px;
		height: 24px;
		fill: $green_brand;
	}
}
