@use "../settings/variables.scss" as *;

.text {
	&_light {
		font-weight: 300;
		line-height: 28px;
		@media (max-width: 680px) {
			font-size: 14px;
		}
	}
	&_medium-16 {
		font-weight: 500;
		letter-spacing: -3.5%;
		color: $text_secondary;
	}
	&_regular-14 {
		font-size: 14px;
		color: $text_secondary;
	}
}
