@use "../settings/variables.scss" as *;

.textarea-block {
	position: relative;
}

.textarea-label {
	font-size: 14px;
	color: $text_secondary;
	margin-bottom: 2px;
}

.textarea-input {
	height: 133px;
	font-weight: 300;
	line-height: 28px;
	padding: 14px 48px 14px 24px;
	color: $text_primary;
	border: 1px solid $light_grey_stroke;
	border-radius: 4px;
	margin-bottom: 6px;
	transition: box-shadow 0.3s ease;
	::placeholder {
		color: $text_secondary;
	}
	&:hover {
		box-shadow: $shadow_input;
	}
	&:focus {
		box-shadow: $shadow_input;
	}
	&:-webkit-autofill {
		-webkit-text-fill-color: $text_primary;
	}
	&_error {
		color: $danger;
	}
	&_success {
		border-bottom: 1px solid green;
	}
}

.validation {
	font-size: 14px;
	line-height: 178%;
	letter-spacing: 0%;
	&_error {
		color: $danger;
	}
	&_success {
		color: green;
	}
}
