@use "../settings/variables.scss" as *;

.top {
	position: relative;
	text-align: center;
	padding-top: 65px;
	padding-bottom: 64px;
	min-height: 251px;
	border-radius: 24px;
	background-color: $light_green;
	overflow: hidden;
	@media (max-width: 680px) {
		min-height: 221px;
		&_blogs {
			padding-top: 47px;
			padding-bottom: 42px;
		}
		&_about {
			padding-top: 27px;
			padding-bottom: 26px;
		}
	}
	.top__title {
		position: relative;
		margin-bottom: 12px;
		z-index: 100;
		@media (max-width: 680px) {
			max-width: 279px;
			margin-inline: auto;
		}
	}
	.top__text {
		position: relative;
		max-width: 560px;
		padding-left: 17px;
		padding-right: 16px;
		margin: 0 auto;
		z-index: 100;
	}
	.top__leaves {
		position: absolute;
		&_leaf-1 {
			top: 35px;
			right: 0px;
			@media (max-width: 680px) {
				display: none;
			}
		}
		&_leaf-2 {
			top: 34px;
			left: 72px;
			@media (max-width: 680px) {
				top: unset;
				bottom: -50px;
				left: -37px;
				transform: scale(0.75);
			}
		}
		&_leaf-3 {
			top: 11px;
			right: 0px;
			@media (max-width: 680px) {
				top: 0px;
				right: 0px;
			}
		}
		&_leaf-4 {
			top: 102px;
			left: 0px;
			@media (max-width: 680px) {
				display: none;
			}
		}
		&_leaf-5 {
			display: none;
			bottom: 0px;
			right: 0px;
			@media (max-width: 680px) {
				display: block;
			}
		}
	}
}
