@use "../../settings/variables.scss" as *;

.menu {
	.menu__list {
		display: flex;
		align-items: center;
		.menu__item {
			.menu__link {
				font-size: 14px;
				color: $text_secondary;
				&_active {
					font-weight: 500;
					letter-spacing: -3.5%;
					color: $green_brand;
				}
			}
		}
		&_header {
			.menu__item {
				&:not(.menu__item:first-of-type) {
					padding-left: 16px;
				}
				&:not(.menu__item:last-of-type) {
					padding-right: 16px;
					border-right: 1px solid $light_grey_stroke;
				}
			}
		}
		&_footer {
			.menu__item {
				&:not(.menu__item:first-of-type) {
					padding-left: 32px;
				}
				&:not(.menu__item:nth-last-of-type(2)) {
					padding-right: 32px;
					border-right: 1px solid $color_primary;
				}
				&:last-of-type {
					display: none;
				}
			}
			@media (max-width: 1024px) {
				.menu__item {
					&:not(.menu__item:nth-last-of-type(2)) {
						padding-right: 0;
						border-right-width: 0;
					}
				}
			}
			@media (max-width: 768px) {
				flex-direction: column;
				align-items: flex-start;
				row-gap: 20px;
				.menu__item {
					&:not(.menu__item:first-of-type) {
						padding-left: 0;
					}
					&:not(.menu__item:nth-last-of-type(2)) {
						padding-right: 0;
						border-right: 0;
					}
				}
			}
		}
	}
}
