.about-team {
	margin-top: 126px;
	margin-bottom: 79px;
	@media (max-width: 768px) {
		margin-top: -26px;
		margin-bottom: 49px;
		padding-right: 0;
	}
	&__title {
		text-align: center;
		margin-bottom: 78px;
		@media (max-width: 768px) {
			margin-bottom: 32px;
			margin-left: -15px;
		}
	}
	&__content {
		max-width: 1110px;
		display: flex;
		column-gap: 30px;
		@media (max-width: 768px) {
			scrollbar-width: none;
			overflow-x: auto;
			column-gap: 12px;
		}
	}
}
