@use "./variables.scss" as *;

:root {
	// just for svg icons
	--green_brand: #359740;
	--white: #ffffff;
}

/* Chrome, Safari */
::-webkit-scrollbar {
	display: none;
}

body {
	font-family: "Lexend", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 178%;
	letter-spacing: 0%;
	color: $text_primary;
}

.container {
	max-width: calc($container-width + 2 * $container-padding);
	padding-inline: $container-padding;
	margin-inline: auto;
}
