$container-width: 1110px;
$container-padding: 15px;

$text_primary: #1f2533;
$text_secondary: #70737c;
$white: #ffffff;

$green_brand: #359740;
$hover: #2bb159;
$color_primary: #4fa083;

$light_grey_stroke: #efefef;
$light_green: #eaf1eb;
$invisible_green: #e2eae3;

$danger: #e55c5c;

$shadow_input: 0px 1px 6px 0px #00000052;
