{% macro logo ( path, classIcon ) %}
  <a class="logo" href="{{path}}">
    <svg class="logo-icon {{classIcon}}">
      <use xlink:href="/images/sprites.svg#logo-icon"></use>
    </svg>
  </a>
{% endmacro %}
