{% macro menu ( classList, classLink ) %}
  <nav class="menu">
    <ul class="menu__list {{ classList }}">
      <li class="menu__item">
        <a class="menu__link {{ classLink }}" href="/seedra/src/pages/products/index.html">ALL PRODUCTS</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#!">ABOUT SEEDRA</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#!">OUR BLOG</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#!">CONTACTS</a>
      </li>
    </ul>
  </nav>
{% endmacro %}
