{% macro socials( classSocials ) %}
  <div class="socials {{classSocials}}">
    <a class="socials__link" href="#!">
      <svg class="socials__icon">
        <use xlink:href="/images/sprites.svg#instagram-icon"></use>
      </svg>
    </a>
    <a class="socials__link" href="#!">
      <svg class="socials__icon">
        <use xlink:href="/images/sprites.svg#facebook-icon"></use>
      </svg>
    </a>
  </div>
{% endmacro %}
