@use "../../settings/variables.scss" as *;

.products-content {
	position: relative;
	margin-bottom: 81px;
	&__not-found {
		font-size: 54px;
		line-height: 64px;
		padding-top: 32px;
		color: #70737c;
	}
	@media (max-width: 768px) {
		margin-bottom: 48px;
	}
	&__categories {
		margin-bottom: 24px;
		@media (max-width: 768px) {
			margin-bottom: 24px;
		}
	}
	&__modal {
		// max-height: 70vh;
		// overflow-y: auto;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		padding: 28px 30px 28px 30px;
		background-color: $white;
		border: 1px solid $light_green;
		border-radius: 8px;
		box-shadow: $shadow_mobile-filter1, $shadow_mobile-filter2;
		z-index: 300;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.5s ease, visibility 0.5s ease;
		&_open {
			visibility: visible;
			opacity: 1;
		}
		&-triangle-pointer {
			position: absolute;
			top: -8px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 16px;
			height: 16px;
			background-color: $white;
			border-top: 1px solid $light_grey_stroke;
			border-left: 1px solid $light_grey_stroke;
			transform: rotate(45deg);
			z-index: 350;
		}
	}
	&__grid {
		display: grid;
		grid-template-columns: 285px auto;
		align-items: start;
		&_open {
			display: block;
		}
		@media (max-width: 768px) {
			grid-template-columns: auto;
		}
	}
	&__filters {
		display: block;
		&_open {
			display: none;
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
	&__filters-title {
		font-size: 14px;
		text-transform: uppercase;
		user-select: none;
		margin-bottom: 4px;
	}
	&__products {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		@media (max-width: 1024px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
		@media (max-width: 640px) {
			grid-template-columns: 1fr;
			align-items: center;
			gap: 16px;
		}
	}
	&__open {
		cursor: pointer;
		@media (max-width: 768px) {
			display: none;
		}
	}
}
