.products-search {
	display: grid;
	grid-template-columns: auto 266px;
	column-gap: 20px;
	margin-top: 32px;
	margin-bottom: 24px;
	@media (max-width: 768px) {
		margin-top: 24px;
		margin-bottom: 15px;
		grid-template-columns: 1fr;
	}
	&__search {
	}
	&__dropdown {
		margin-right: 6px;
		@media (max-width: 768px) {
			display: none;
		}
	}
}
