@use "../../settings/variables.scss" as *;

.one-blog-timeline {
	margin-bottom: 26px;
	@media (max-width: 900px) {
		margin-bottom: 14px;
	}
	&__inner {
		display: flex;
		align-items: center;
	}
	&__icon {
		width: 24px;
		height: 24px;
		fill: $text_secondary;
		margin-right: 8px;
	}
	&__date {
		font-size: 14px;
		color: $text_secondary;
		margin-right: 14px;
	}
	&__hr {
		flex-grow: 1;
	}
}
