@use "../../settings/variables.scss" as *;

.one-blog-top {
	margin-top: 32px;
	margin-bottom: 16px;
	@media (max-width: 768px) {
		margin-top: 30px;
	}
	&__inner {
		position: relative;
		height: 251px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $light_green;
		border-radius: 24px;
		overflow: hidden;
		@media (max-width: 768px) {
			flex-direction: column;
			height: 221px;
		}
	}
	&__title {
		position: relative;
		max-width: 650px;
		font-weight: 600;
		font-size: 48px;
		line-height: 54px;
		letter-spacing: -5%;
		margin-left: 57px;
		translate: 0 -7px;
		z-index: 300;
		@media (max-width: 768px) {
			align-self: flex-start;
			max-width: 273px;
			font-size: 28px;
			line-height: 36px;
			padding-top: 30px;
			margin-left: 36px;
		}
	}
	&__img {
		position: relative;
		max-width: 240px;
		z-index: 200;
		@media (max-width: 768px) {
			max-width: 150px;
			align-self: flex-end;
			margin-top: -34px;
		}
	}
	&__leaves {
		position: absolute;
		z-index: 100;
		@media (max-width: 768px) {
			display: none;
		}
		&_leaf-1 {
			top: 35px;
			right: 0px;
		}
		&_leaf-3 {
			top: 15px;
			right: -26px;
		}
	}
}
