@use "../../settings/variables.scss" as *;

.one-blog-socials {
	margin-bottom: 49px;
	@media (max-width: 690px) {
		margin-bottom: 49px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 36px 23px 36px;
		background-color: $green_brand;
		border-radius: 12px;
		@media (max-width: 690px) {
			flex-direction: column;
			text-align: center;
			padding: 16px 36px 15px 36px;
		}
	}
	&__block {
	}
	&__text {
		font-weight: 500;
		font-size: 16px;
		letter-spacing: -3.5%;
		color: $white;
		@media (max-width: 690px) {
			font-weight: 400;
			font-size: 14px;
			letter-spacing: 0%;
		}
	}
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 31.5px;
		letter-spacing: -2%;
		margin-top: -3px;
		color: $white;
		@media (max-width: 690px) {
			font-weight: 500;
			font-size: 18px;
			line-height: 25px;
			letter-spacing: -4%;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		column-gap: 10px;
		translate: 0 4px;
		@media (max-width: 690px) {
			translate: 0 8px;
		}
	}
	&__icon {
		width: 32px;
		height: 32px;
		fill: $white;
	}
}
