<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Components</title>
		<link rel="stylesheet" href="../../scss/styles.scss" />
	</head>
	<body>
		<div class="container" style="padding-top: 40px; height: 3000px">
			<!-- review-card -->
			<div class="review-card">
				<div class="review-card__top">
					<img class="review-card__img" src="./public/images/reviews/avatar.png" alt="avatar" />
					<div class="review-card__name-date">
						<div class="review-card__name">
							<!-- text ( text, classText ) -->
							<!-- prettier-ignore -->
							{% from "src/partials/text.njk" import text %}
							{{ text( "Carla Samantoes-Diego", "text_medium-18" ) }}
						</div>
						<div class="review-card__date">
							<!-- text ( text, classText ) -->
							<!-- prettier-ignore -->
							{% from "src/partials/text.njk" import text %}
							{{ text( "12.09.2021", "text_regular-14" ) }}
						</div>
					</div>
				</div>
				<div class="review-card__ranking">
					<div class="ranking">
						<svg class="ranking__icon-star">
							<use xlink:href="./images/sprites.svg#star-full-icon"></use>
						</svg>
						<svg class="ranking__icon-star">
							<use xlink:href="./images/sprites.svg#star-full-icon"></use>
						</svg>
						<svg class="ranking__icon-star">
							<use xlink:href="./images/sprites.svg#star-full-icon"></use>
						</svg>
						<svg class="ranking__icon-star">
							<use xlink:href="./images/sprites.svg#star-full-icon"></use>
						</svg>
						<svg class="ranking__icon-star">
							<use xlink:href="./images/sprites.svg#star-half-icon"></use>
						</svg>
					</div>
				</div>
				<div class="review-card__text">
					<!-- text ( text, classText ) -->
					<!-- prettier-ignore -->
					{% from "src/partials/text.njk" import text %}
					{{ text( "SEEDRA Spinach Seeds - contains 600 seeds in 2 Packs and professional instructions created by PhD Helga George Be sure of our quality - the freshest batches of this season. Non-GMO, Heirloom - our seeds were tested and have the best germination ratings. ", "text_light" ) }}
				</div>
			</div>

			<!-- blog-long -->
			<div class="blog-card blog-card_long">
				<div class="blog-card__content">
					<div class="blog-card__date">
						<svg class="blog-card__date-icon">
							<use xlink:href="/images/sprites.svg#clock-icon"></use>
						</svg>
						<span class="blog-card__date-time">12.09.2021</span>
					</div>
					<div class="blog-card__title">
						<!-- title ( heading, title, classTitle ) -->
						<!-- prettier-ignore -->
						{% from "src/partials/title.njk" import title %}
						{{ title( "h3", "How to plant spinach correctly in winter", "title_h3") }}
					</div>
					<div class="blog-card__text">
						<!-- text ( text, classText ) -->
						<!-- prettier-ignore -->
						{% from "src/partials/text.njk" import text %}
						{{ text( "In most areas, successive sowing can be done from early spring until early winter, but more often during hotter months...", "text_regular-14" ) }}
					</div>
					<div class="blog-card__button">
						<!-- discover ( classLink, titleLink, pathLink ) -->
						<!-- prettier-ignore -->
						{% from "src/partials/discover.njk" import discover %}
						{{ discover( "", "Read", "#!" ) }}
					</div>
				</div>
				<img class="blog-card__img" src="/images/blogs/blog_long.png" alt="blogcard image" />
			</div>

			<!-- blog-tall -->
			<div class="blog-card blog-card_tall">
				<div class="blog-card__content">
					<div class="blog-card__date">
						<svg class="blog-card__date-icon">
							<use xlink:href="/images/sprites.svg#clock-icon"></use>
						</svg>
						<span class="blog-card__date-time">12.09.2021</span>
					</div>
					<div class="blog-card__title">
						<!-- title ( heading, title, classTitle ) -->
						<!-- prettier-ignore -->
						{% from "src/partials/title.njk" import title %}
						{{ title( "h3", "How to plant spinach correctly in winter", "title_h3") }}
					</div>
					<div class="blog-card__text">
						<!-- text ( text, classText ) -->
						<!-- prettier-ignore -->
						{% from "src/partials/text.njk" import text %}
						{{ text( "In most areas, successive sowing can be done from early spring until early winter, but more often during hotter months...", "text_regular-14" ) }}
					</div>
					<div class="blog-card__button">
						<!-- discover ( classLink, titleLink, pathLink ) -->
						<!-- prettier-ignore -->
						{% from "src/partials/discover.njk" import discover %}
						{{ discover( "", "Read", "#!" ) }}
					</div>
				</div>
				<img class="blog-card__img" src="/images/blogs/blog_tall.png" alt="blogcard image" />
			</div>

			<!-- blog-normal -->
			<div class="blog-card blog-card_normal">
				<div class="blog-card__content">
					<div class="blog-card__date">
						<svg class="blog-card__date-icon">
							<use xlink:href="/images/sprites.svg#clock-icon"></use>
						</svg>
						<span class="blog-card__date-time">12.09.2021</span>
					</div>
					<div class="blog-card__title">
						<!-- title ( heading, title, classTitle ) -->
						<!-- prettier-ignore -->
						{% from "src/partials/title.njk" import title %}
						{{ title( "h3", "How to plant spinach correctly in winter", "title_h3") }}
					</div>
					<div class="blog-card__text">
						<!-- text ( text, classText ) -->
						<!-- prettier-ignore -->
						{% from "src/partials/text.njk" import text %}
						{{ text( "In most areas, successive sowing can be done from early spring until early winter, but more often during hotter months...", "text_regular-14" ) }}
					</div>
					<div class="blog-card__button">
						<!-- discover ( classLink, titleLink, pathLink ) -->
						<!-- prettier-ignore -->
						{% from "src/partials/discover.njk" import discover %}
						{{ discover( "", "Read", "#!" ) }}
					</div>
				</div>
				<img class="blog-card__img" src="/images/blogs/blog_normal.png" alt="blogcard image" />
			</div>

			<!-- logo (  ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/layout/logo.njk" import logo %}
			{{ logo(  ) }}

			<!-- socials ( classSocials ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/layout/socials.njk" import socials %}
			{{ socials( "socials_header" ) }}

			<!-- socials ( classSocials ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/layout/socials.njk" import socials %}
			{{ socials( "socials_footer" ) }}

			<!-- button ( classBtn, titleBtn, iconId ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/button.njk" import button %}
			{{ button( "btn_text", "Add to cart", "" ) }}
			{{ button( "btn_icon", "", "cart-icon" ) }}
			{{ button( "btn_icon-text", "bundles", "bundles-icon" ) }}

			<!-- discover ( classLink, titleLink, pathLink ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/discover.njk" import discover %}
			{{ discover( "", "Discover", "#!" ) }}

			<!-- menu ( classList, classItem ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/layout/menu.njk" import menu %}
			{{ menu( "menu__list_header" ) }}

			<!-- menu ( classList, classItem ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/layout/menu.njk" import menu %}
			{{ menu( "menu__list_footer", "menu__link_active" ) }}

			<!-- search ( classSearch ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/search.njk" import search %}
			{{ search( "search_header" ) }}
			{{ search( "search_banner" ) }}

			<!-- input ( inputLabel, placeholder, type, classInput, inputId ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/input.njk" import input %}
			{{ input( "Name", "Your name", "", "", "") }}

			<!-- title ( heading, title, classTitle ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/title.njk" import title %}
			{{ title( "h1", "title", "title_h1") }}

			<!-- text ( text, classText ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/text.njk" import text %}
			{{ text( "Some text", "text_light" ) }}

			<!-- top ( title, text ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/top.njk" import top %}
			{{ top( "Welcome to our blog",
			"Here you can find a lot of interesting and useful information that you need in gardening and creating a beautiful garden" ) }}

			<!-- dropdown( title, initial ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/dropdown.njk" import dropdown %}
      {{ dropdown( "Type of delievery", "Shipping" ) }}

			<!-- productCard(  ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/product-card.njk" import productCard %}
      {{ productCard(  ) }}
		</div>
		<script type="module" src="../../js/main.js"></script>
	</body>
</html>
