<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Components</title>
		<script type="module" crossorigin src="/seedra/assets/main-Cd1Gr8q6.js"></script>
		<link rel="stylesheet" crossorigin href="/seedra/assets/main-DJtTnLQb.css">
	</head>
	<body>
		<div class="container" style="padding-top: 40px; height: 3000px">
			<!-- articleContent (  ) -->
			<!-- prettier-ignore -->
			
			
  <div class="article-content ">
    <div class="article-content__title">
      <!-- title ( heading, title, classTitle ) -->
      <!-- prettier-ignore -->
      
      
  <h2 class="title title_h2"></h2>

    </div>
    <div class="article-content__text-1 article-content__text">
      <!-- text ( text, classText ) -->
      <!-- prettier-ignore -->
      
      
  <p class="text text_light">SEEDRA Spinach Seeds - contains 600 seeds in 2 Packs and professional instructions created by PhD Helga George</p>

    </div>
    <div class="article-content__text-2 article-content__text">
      <!-- text ( text, classText ) -->
      <!-- prettier-ignore -->
      
      
  <p class="text text_light">Be sure of our quality - the freshest batches of this season. Non-GMO, Heirloom - our seeds were tested and have the best germination ratings.</p>

    </div>
    <div class="article-content__text-3 article-content__text">
      <!-- text ( text, classText ) -->
      <!-- prettier-ignore -->
      
      
  <p class="text text_light">Your easy growing experience is our guarantee</p>

    </div>
    <div class="article-content__text-4 article-content__text">
      <!-- text ( text, classText ) -->
      <!-- prettier-ignore -->
      
      
  <p class="text text_light">Spinach commom culinary uses: salads, soups, smoothies, lasagne, pizza, pies, risotto, and more</p>

    </div>
    <div class="article-content__text-5 article-content__text">
      <!-- text ( text, classText ) -->
      <!-- prettier-ignore -->
      
      
  <p class="text text_light">Proudly sourced in the USA - our garden seeds are grown, harvested, and packaged in the USA. We support local farmers and are happy to produce this American-made product</p>

    </div>
  </div>


			<!-- articlePicture (  ) -->
			<!-- prettier-ignore -->
			
			
  <div class="article-picture">
    <div class="article-picture__bg">
      <img class="article-picture__img" src="/seedra/images/article/article_1.png" alt="article image" />

      <img
        class="article-leaves article-leaves_leaf-1"
        src="/seedra/images/article/leaf_1.png"
        alt="leaf" />
      <img
        class="article-leaves article-leaves_leaf-2"
        src="/seedra/images/article/leaf_2.png"
        alt="leaf" />
      <img
        class="article-leaves article-leaves_leaf-3"
        src="/seedra/images/article/leaf_3.png"
        alt="leaf" />
      <img
        class="article-leaves article-leaves_leaf-5"
        src="/seedra/images/article/leaf_5.png"
        alt="leaf" />
    </div>
  </div>


			<!-- review-card -->
			<div class="review-card">
				<div class="review-card__top">
					<img class="review-card__img" src="./public/images/reviews/avatar.png" alt="avatar" />
					<div class="review-card__name-date">
						<div class="review-card__name">
							<!-- text ( text, classText ) -->
							<!-- prettier-ignore -->
							
							
  <p class="text text_medium-18">Carla Samantoes-Diego</p>

						</div>
						<div class="review-card__date">
							<!-- text ( text, classText ) -->
							<!-- prettier-ignore -->
							
							
  <p class="text text_regular-14">12.09.2021</p>

						</div>
					</div>
				</div>
				<div class="review-card__ranking">
					<div class="ranking">
						<svg class="ranking__icon-star">
							<use xlink:href="./images/sprites.svg#star-full-icon"></use>
						</svg>
						<svg class="ranking__icon-star">
							<use xlink:href="./images/sprites.svg#star-full-icon"></use>
						</svg>
						<svg class="ranking__icon-star">
							<use xlink:href="./images/sprites.svg#star-full-icon"></use>
						</svg>
						<svg class="ranking__icon-star">
							<use xlink:href="./images/sprites.svg#star-full-icon"></use>
						</svg>
						<svg class="ranking__icon-star">
							<use xlink:href="./images/sprites.svg#star-half-icon"></use>
						</svg>
					</div>
				</div>
				<div class="review-card__text">
					<!-- text ( text, classText ) -->
					<!-- prettier-ignore -->
					
					
  <p class="text text_light">SEEDRA Spinach Seeds - contains 600 seeds in 2 Packs and professional instructions created by PhD Helga George Be sure of our quality - the freshest batches of this season. Non-GMO, Heirloom - our seeds were tested and have the best germination ratings. </p>

				</div>
			</div>

			<!-- blog-long -->
			<div class="blog-card blog-card_long">
				<div class="blog-card__content">
					<div class="blog-card__date">
						<svg class="blog-card__date-icon">
							<use xlink:href="/seedra/images/sprites.svg#clock-icon"></use>
						</svg>
						<span class="blog-card__date-time">12.09.2021</span>
					</div>
					<div class="blog-card__title">
						<!-- title ( heading, title, classTitle ) -->
						<!-- prettier-ignore -->
						
						
  <h3 class="title title_h3">How to plant spinach correctly in winter</h3>

					</div>
					<div class="blog-card__text">
						<!-- text ( text, classText ) -->
						<!-- prettier-ignore -->
						
						
  <p class="text text_regular-14">In most areas, successive sowing can be done from early spring until early winter, but more often during hotter months...</p>

					</div>
					<div class="blog-card__button">
						<!-- discover ( classLink, titleLink, pathLink ) -->
						<!-- prettier-ignore -->
						
						
  <a class="discover " href="#!">
    Read
  </a>

					</div>
				</div>
				<img class="blog-card__img" src="/seedra/images/blogs/blog_long.png" alt="blogcard image" />
			</div>

			<!-- blog-tall -->
			<div class="blog-card blog-card_tall">
				<div class="blog-card__content">
					<div class="blog-card__date">
						<svg class="blog-card__date-icon">
							<use xlink:href="/seedra/images/sprites.svg#clock-icon"></use>
						</svg>
						<span class="blog-card__date-time">12.09.2021</span>
					</div>
					<div class="blog-card__title">
						<!-- title ( heading, title, classTitle ) -->
						<!-- prettier-ignore -->
						
						
  <h3 class="title title_h3">How to plant spinach correctly in winter</h3>

					</div>
					<div class="blog-card__text">
						<!-- text ( text, classText ) -->
						<!-- prettier-ignore -->
						
						
  <p class="text text_regular-14">In most areas, successive sowing can be done from early spring until early winter, but more often during hotter months...</p>

					</div>
					<div class="blog-card__button">
						<!-- discover ( classLink, titleLink, pathLink ) -->
						<!-- prettier-ignore -->
						
						
  <a class="discover " href="#!">
    Read
  </a>

					</div>
				</div>
				<img class="blog-card__img" src="/images/blogs/blog_tall.png" alt="blogcard image" />
			</div>

			<!-- blog-normal -->
			<div class="blog-card blog-card_normal">
				<div class="blog-card__content">
					<div class="blog-card__date">
						<svg class="blog-card__date-icon">
							<use xlink:href="/seedra/images/sprites.svg#clock-icon"></use>
						</svg>
						<span class="blog-card__date-time">12.09.2021</span>
					</div>
					<div class="blog-card__title">
						<!-- title ( heading, title, classTitle ) -->
						<!-- prettier-ignore -->
						
						
  <h3 class="title title_h3">How to plant spinach correctly in winter</h3>

					</div>
					<div class="blog-card__text">
						<!-- text ( text, classText ) -->
						<!-- prettier-ignore -->
						
						
  <p class="text text_regular-14">In most areas, successive sowing can be done from early spring until early winter, but more often during hotter months...</p>

					</div>
					<div class="blog-card__button">
						<!-- discover ( classLink, titleLink, pathLink ) -->
						<!-- prettier-ignore -->
						
						
  <a class="discover " href="#!">
    Read
  </a>

					</div>
				</div>
				<img class="blog-card__img" src="/seedra/images/blogs/blog_normal.png" alt="blogcard image" />
			</div>

			<!-- checkbox( title ) -->
			<!-- prettier-ignore -->
			
			
  <label class="checkbox">
    <input type="checkbox" class="checkbox__input" id="" value="" />
    <div class="checkbox__box">
      <svg class="checkbox__icon">
        <use xlink:href="/seedra/images/sprites.svg#checker-icon"></use>
      </svg>
    </div>
    <span class="checkbox__text">Hybrid</span>
  </label>


			<!-- logo (  ) -->
			<!-- prettier-ignore -->
			
			
  <a class="logo" href="">
    <svg class="logo-icon ">
      <use xlink:href="/seedra/images/sprites.svg#logo-icon"></use>
    </svg>
  </a>


			<!-- socials ( classSocials ) -->
			<!-- prettier-ignore -->
			
			
  <div class="socials socials_header">
    <a class="socials__link" href="#!">
      <svg class="socials__icon">
        <use xlink:href="/seedra/images/sprites.svg#instagram-icon"></use>
      </svg>
    </a>
    <a class="socials__link" href="#!">
      <svg class="socials__icon">
        <use xlink:href="/seedra/images/sprites.svg#facebook-icon"></use>
      </svg>
    </a>
  </div>


			<!-- socials ( classSocials ) -->
			<!-- prettier-ignore -->
			
			
  <div class="socials socials_footer">
    <a class="socials__link" href="#!">
      <svg class="socials__icon">
        <use xlink:href="/seedra/images/sprites.svg#instagram-icon"></use>
      </svg>
    </a>
    <a class="socials__link" href="#!">
      <svg class="socials__icon">
        <use xlink:href="/seedra/images/sprites.svg#facebook-icon"></use>
      </svg>
    </a>
  </div>


			<!-- button ( classBtn, titleBtn, iconId ) -->
			<!-- prettier-ignore -->
			
			
  <button class="btn btn_text">
    <svg class="btn__icon">
	    <use xlink:href="/seedra/images/sprites.svg#"></use>
    </svg>
    <span class="btn__title">
      Add to cart
    </span>
  </button>

			
  <button class="btn btn_icon">
    <svg class="btn__icon">
	    <use xlink:href="/seedra/images/sprites.svg#cart-icon"></use>
    </svg>
    <span class="btn__title">
      
    </span>
  </button>

			
  <button class="btn btn_icon-text">
    <svg class="btn__icon">
	    <use xlink:href="/seedra/images/sprites.svg#bundles-icon"></use>
    </svg>
    <span class="btn__title">
      bundles
    </span>
  </button>


			<!-- discover ( classLink, titleLink, pathLink ) -->
			<!-- prettier-ignore -->
			
			
  <a class="discover " href="#!">
    Discover
  </a>


			<!-- menu ( classList, classItem ) -->
			<!-- prettier-ignore -->
			
			
  <nav class="menu">
    <ul class="menu__list menu__list_header">
      <li class="menu__item">
        <a class="menu__link " href="/seedra/src/pages/products/index.html">ALL PRODUCTS</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="/seedra/src/pages/about/index.html">ABOUT SEEDRA</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="/seedra/src/pages/blogs/index.html">OUR BLOG</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#!">CONTACTS</a>
      </li>
    </ul>
  </nav>


			<!-- menu ( classList, classItem ) -->
			<!-- prettier-ignore -->
			
			
  <nav class="menu">
    <ul class="menu__list menu__list_footer">
      <li class="menu__item">
        <a class="menu__link menu__link_active" href="/seedra/src/pages/products/index.html">ALL PRODUCTS</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="/seedra/src/pages/about/index.html">ABOUT SEEDRA</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="/seedra/src/pages/blogs/index.html">OUR BLOG</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#!">CONTACTS</a>
      </li>
    </ul>
  </nav>


			<!-- search ( classSearch ) -->
			<!-- prettier-ignore -->
			
			
  <div class="search search_header">
    <input class="search__input" type="text" placeholder="Search">
    <svg class="search__icon">
	    <use xlink:href="/seedra/images/sprites.svg#search-icon"></use>
    </svg>
    <img class="search__img" src="/seedra/images/icons/funnel.svg" alt="search icon funnel">
  </div>

			
  <div class="search search_banner">
    <input class="search__input" type="text" placeholder="Search">
    <svg class="search__icon">
	    <use xlink:href="/seedra/images/sprites.svg#search-icon"></use>
    </svg>
    <img class="search__img" src="/seedra/images/icons/funnel.svg" alt="search icon funnel">
  </div>


			<!-- input ( inputLabel, placeholder, type, classInput, inputId ) -->
			<!-- prettier-ignore -->
			
			
  <div class="input-block">
    <label class="label" for="">Name</label>
    <input class="input " id="" type="" placeholder="Your name" />
    <p class="validation"></p>
  </div>


			<!-- title ( heading, title, classTitle ) -->
			<!-- prettier-ignore -->
			
			
  <h1 class="title title_h1">title</h1>


			<!-- text ( text, classText ) -->
			<!-- prettier-ignore -->
			
			
  <p class="text text_light">Some text</p>


			<!-- top( topTitle, topText, classTop ) -->
			<!-- prettier-ignore -->
			
			
  <div class="top top_about">

    <div class="top__title">
			<!-- title ( heading, title, classTitle ) -->
			
			
  <h1 class="title title_h1">Who we are and what we do</h1>

    </div>

    <div class="top__text">
			<!-- text ( text, classText ) -->
			
			
  <p class="text text_light">Here you can find a lot of interesting and useful information that you need in gardening and creating a beautiful garden</p>

    </div>

    <img class="top__leaves top__leaves_leaf-1" src="/seedra/images/top/leaf_1.png" alt="top background">
    <img class="top__leaves top__leaves_leaf-2" src="/seedra/images/top/leaf_2.png" alt="top background">
    <img class="top__leaves top__leaves_leaf-3" src="/seedra/images/top/leaf_3.png" alt="top background">
    <img class="top__leaves top__leaves_leaf-4" src="/seedra/images/top/leaf_4.png" alt="top background">
    <img class="top__leaves top__leaves_leaf-5" src="/seedra/images/top/leaf_5.png" alt="top background">

  </div>


			<!-- dropdown( title, initial ) -->
			<!-- prettier-ignore -->
			
      
  <div class="dropdown">
    <div class="dropdown__control">
      <div class="dropdown__title-block">
        <p class="dropdown__title">Type of delievery</p>
        <p class="dropdown__initial" id="">Shipping</p>
      </div>
      <svg class="dropdown__icon">
        <use xlink:href="/seedra/images/sprites.svg#chevron-icon"></use>
      </svg>
    </div>
    <div class="dropdown__list" id="">
      <div class="dropdown__option">
        <span class="dropdown__value"></span>
        <span class="dropdown__price ">+$10</span>
      </div>
      <div class="dropdown__option">
        <span class="dropdown__value"></span>
        <span class="dropdown__price ">+$10</span>
      </div>
      <div class="dropdown__option">
        <span class="dropdown__value"></span>
        <span class="dropdown__price ">+$80</span>
      </div>
      <div class="dropdown__option">
        <span class="dropdown__value"></span>
        <span class="dropdown__price ">+$1850</span>
      </div>
    </div>
	</div>


			<!-- productCard(  ) -->
			<!-- prettier-ignore -->
			
      
  <div class="product-card">
    <img class="product-card__img" src="/seedra/images/products/product_1.jpg" alt="product card image" />

    <div class="product-card__content">
      <div class="product-card__top">
        <div class="product-card__ranking">
          <svg class="product-card__icon-star">
            <use xlink:href="/seedra/images/sprites.svg#star-full-icon"></use>
          </svg>
          <svg class="product-card__icon-star">
            <use xlink:href="/seedra/images/sprites.svg#star-full-icon"></use>
          </svg>
          <svg class="product-card__icon-star">
            <use xlink:href="/seedra/images/sprites.svg#star-full-icon"></use>
          </svg>
          <svg class="product-card__icon-star">
            <use xlink:href="/seedra/images/sprites.svg#star-full-icon"></use>
          </svg>
          <svg class="product-card__icon-star">
            <use xlink:href="/seedra/images/sprites.svg#star-half-icon"></use>
          </svg>
        </div>
        <span class="product-card__quantity">(123)</span>
      </div>

      <div class="product-card__title">
        <!-- title ( heading, title, classTitle ) -->
        
        
  <h4 class="title title_card">Seedra Cilantro Seeds for Planting Indoor and Outdoor</h4>

      </div>

      <div class="product-card__bottom">
        <span class="product-card__price">$12.56</span>

        <div class="product-card__button">
          <!-- button ( classBtn, titleBtn, iconId ) -->
          
          
  <button class="btn btn_icon">
    <svg class="btn__icon">
	    <use xlink:href="/seedra/images/sprites.svg#cart-icon"></use>
    </svg>
    <span class="btn__title">
      
    </span>
  </button>

        </div>
      </div>
    </div>

    <div class="product-card__yellow-heart">
      <svg class="product-card__icon-heart">
        <use xlink:href="/seedra/images/sprites.svg#heart-icon"></use>
      </svg>
    </div>

  </div>

		</div>
	</body>
</html>
