<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Components</title>
		<script type="module" crossorigin src="/seedra/assets/styles-rNgtDKMS.js"></script>
		<link rel="stylesheet" crossorigin href="/seedra/assets/styles-BO8bj-ND.css">
	</head>
	<body>
		<div class="container" style="padding-top: 40px">
			<!-- button ( classBtn, titleBtn, iconId ) -->
			<!-- prettier-ignore -->
			
			
  <button class="btn btn_text">
    <svg class="btn__icon">
	    <use xlink:href="/seedra/images/sprites.svg#"></use>
    </svg>
    <span class="btn__title">
      Add to cart
    <span>
  </button>

			
  <button class="btn btn_icon">
    <svg class="btn__icon">
	    <use xlink:href="/seedra/images/sprites.svg#cart-icon"></use>
    </svg>
    <span class="btn__title">
      
    <span>
  </button>

			
  <button class="btn btn_icon-text">
    <svg class="btn__icon">
	    <use xlink:href="/seedra/images/sprites.svg#cart-icon"></use>
    </svg>
    <span class="btn__title">
      bundles
    <span>
  </button>


			<!-- discover ( classLink, titleLink, pathLink ) -->
			<!-- prettier-ignore -->
			
			
  <a class="discover " href="#!">
    Discover
  </a>


			<!-- search ( classSearch ) -->
			<!-- prettier-ignore -->
			
			
  <div class="search search_header">
    <input class="search__input" type="text" placeholder="Search">
    <svg class="search__icon">
	    <use xlink:href="/seedra/images/sprites.svg#search-icon"></use>
    </svg>
    <img class="search__img" src="/seedra/images/icons/funnel.svg" alt="search icon funnel">
  </div>

			
  <div class="search search_banner">
    <input class="search__input" type="text" placeholder="Search">
    <svg class="search__icon">
	    <use xlink:href="/seedra/images/sprites.svg#search-icon"></use>
    </svg>
    <img class="search__img" src="/seedra/images/icons/funnel.svg" alt="search icon funnel">
  </div>


			<!-- input ( inputLable, placeholder, type, classInput, inputId ) -->
			<!-- prettier-ignore -->
			
			
  <div class="input-block">
    <lable  class="lable" for="">Name</lable>
    <input class="input " id="" type="" placeholder="Your name" />
    <p class="validation"></p>
  </div>


			<!-- title ( heading, title, classTitle ) -->
			<!-- prettier-ignore -->
			
			
  <h1 class="title title_h1">title</h1>


			<!-- text ( text, classText ) -->
			<!-- prettier-ignore -->
			
			
  <p class="text text_light">Some text</p>


			<!-- top ( title, text ) -->
			<!-- prettier-ignore -->
			
			
  <div class="top">

    <div class="top__title">
			<!-- title ( heading, title, classTitle ) -->
			
			
  <h1 class="title title_h1">Welcome to our blog</h1>

    </div>

    <div class="top__text">
			<!-- text ( text, classText ) -->
			
			
  <p class="text text_light">Here you can find a lot of interesting and useful information that you need in gardening and creating a beautiful garden</p>

    </div>

    <img class="top__leaves top__leaves_leaf-1" src="/seedra/images/top/leaf_1.png" alt="top background">
    <img class="top__leaves top__leaves_leaf-2" src="/seedra/images/top/leaf_2.png" alt="top background">
    <img class="top__leaves top__leaves_leaf-3" src="/seedra/images/top/leaf_3.png" alt="top background">
    <img class="top__leaves top__leaves_leaf-4" src="/seedra/images/top/leaf_4.png" alt="top background">
    <img class="top__leaves top__leaves_leaf-5" src="/seedra/images/top/leaf_5.png" alt="top background">

  </div>

		</div>
	</body>
</html>
