@use "../../settings/variables.scss" as *;

.pack {
	width: 100%;
	display: flex;
	padding: 7px 11px;
	border: 1px solid $light_grey_stroke;
	border-radius: 8px;
	&_checked {
		border: 1px solid $color_primary;
	}
	&__input {
		width: 16px;
		accent-color: $green_brand;
		margin-right: 14px;
	}
	&__quantity {
		font-weight: 400;
		font-size: 14px;
		color: $text_primary;
		margin-right: 4px;
	}
	&__pack {
		font-weight: 400;
		font-size: 14px;
		color: $text_primary;
	}
	&__start {
		font-weight: 400;
		font-size: 14px;
		color: $text_secondary;
		margin-left: auto;
		margin-right: 7px;
	}
	&__price {
		font-weight: 500;
		letter-spacing: -3.5%;
		color: $text_primary;
	}
}
