@use "../../settings/variables.scss" as *;

.one-product-dropdown {
	padding: 17px 23px 16px 30px;
	border: 1px solid $light_grey_stroke;
	border-radius: 8px;
	@media (max-width: 620px) {
		padding: 17px 23px 53px 19px;
	}
	&__btn {
		width: 100%;
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	&__title {
		max-width: 470px;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: -4%;
		text-align: start;
		@media (max-width: 620px) {
			font-size: 14px;
			line-height: 178%;
			letter-spacing: 0%;
		}
	}
	&__desktop {
		display: block;
		@media (max-width: 620px) {
			display: none;
		}
	}
	&__mobile {
		display: none;
		@media (max-width: 620px) {
			display: block;
		}
	}
	&__icon1 {
		width: 16px;
		height: 3px;
		background-color: $green_brand;
		border-radius: 2px;
		margin-left: auto;
		translate: 16px 0;
		transform: rotate(90deg);
		transition: transform 0.3s ease;
		&_open {
			transform: rotate(0deg);
		}
	}
	&__icon2 {
		width: 16px;
		height: 3px;
		background-color: $green_brand;
		border-radius: 2px;
		transform: rotate(0deg);
		opacity: 1;
		transition: transform 0.3s ease, opacity 0.3s ease;
		&_open {
			transform: rotate(-90deg);
			opacity: 0;
		}
	}
	&__icon3 {
		width: 16px;
		height: 3px;
		margin-inline: auto;
		background-color: $green_brand;
		border-radius: 2px;
		translate: 0 35px;
		transform: rotate(0deg);
		transition: transform 0.3s ease;
		&_open {
			transform: rotate(0deg);
		}
	}
	&__icon4 {
		width: 16px;
		height: 3px;
		margin-inline: auto;
		background-color: $green_brand;
		border-radius: 2px;
		translate: 0 32px;
		opacity: 1;
		transform: rotate(90deg);
		transition: opacity 0s ease 0.3s;
		&_open {
			opacity: 0;
		}
	}
	&__content {
		display: grid;
		grid-template-rows: 0fr; /* 🔥 закрито */
		transition: grid-template-rows 0.3s ease;
		will-change: grid-template-rows;
	}
	&__inner {
		overflow: hidden;
		min-height: 0; // 🔥 КРИТИЧНО
	}
	&__hr {
		max-width: 582px;
		margin-top: 23px;
		margin-bottom: 20px;
		@media (max-width: 620px) {
			margin-top: 16px;
			margin-bottom: 16px;
		}
	}
	&__text {
		max-width: 560px;
		font-weight: 300;
		line-height: 28px;
		margin-bottom: 8px;
		@media (max-width: 620px) {
			font-size: 14px;
			line-height: 27px;
			letter-spacing: 0%;
		}
	}
}

.one-product-dropdown.open .one-product-dropdown__content {
	grid-template-rows: 1fr; /* 🔥 відкрито */
}
