{% macro modalCart() %}
  <div class="modal-cart" id="modal-cart">
    <div class="modal-cart__products">
      <!-- products come from firebse -->
    </div>
    <div class="modal-cart__button-block">
      <button class="modal-cart__clear" id="modal-cart__clear">Clear</button>
      <div class="modal-cart__proceed">
        <!-- discover ( classLink, titleLink, pathLink ) -->
        <!-- prettier-ignore -->
        {% from "src/partials/discover.njk" import discover %}
        {{ discover( "discover_continue", "Proceed to payment", "/seedra/src/pages/cart/index.html" ) }}
      </div>
    </div>
    <button class="modal-cart__close" id="close-modal-cart">
      <svg class="modal-cart__close-icon">
        <use href="/images/sprites.svg#close-modal-icon"></use>
      </svg>
    </button>
  </div>
{% endmacro %}
