@use "../../settings/variables.scss" as *;

.cart-products {
	flex-basis: 699px;
	@media (max-width: 1024px) {
		flex-basis: unset;
	}
	.cart-product:last-of-type {
		border-bottom: none;
	}
	&__title-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 580px) {
			margin-bottom: -6px;
		}
	}
	&__items {
		font-weight: 600;
		font-size: 24px;
		line-height: 31.5px;
		letter-spacing: -2%;
		color: $text_secondary;
		@media (max-width: 580px) {
			font-weight: 500;
			font-size: 16px;
			line-height: 178%;
			letter-spacing: -3.5%;
		}
	}
	&__hr {
		margin-block: 22px;
		border: 1px solid $light_grey_stroke;
	}
	&__headings {
		display: grid;
		grid-template-columns: 1fr 133px 102px 56px;
		color: $text_secondary;
		font-size: 14px;
		margin-bottom: 2px;
		@media (max-width: 580px) {
			display: none;
		}
	}
	&__heading1 {
	}
	&__heading2 {
	}
	&__heading3 {
	}
	&__heading4 {
	}
	&__products {
		margin-bottom: 27px;
	}
	&__shopping {
		@media (max-width: 1024px) {
			display: none;
		}
	}
}
