@use "../../settings/variables.scss" as *;

.cart-summary {
	flex-basis: 350px;
	height: 484px;
	padding: 24px 30px 31px 34px;
	border: 1px solid $light_grey_stroke;
	border-radius: 12px;
	box-shadow: $shadow_header;
	translate: 0 15px;
	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 28px;
		letter-spacing: -2%;
		margin-bottom: 11px;
	}
	&__price-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 28px;
	}
	&__items {
		color: $text_secondary;
	}
	&__text {
		font-size: 14px;
	}
	&__price {
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: -4%;
	}
	&__dropdown {
		margin-bottom: 18px;
	}
	&__input {
		margin-bottom: 0px;
	}
	&__hr {
		margin-top: 26px;
		margin-bottom: 24px;
		border: 1px solid $light_grey_stroke;
	}
	&__amount-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;
	}
	&__amount {
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: -4%;
	}
	@media (max-width: 580px) {
		translate: 0 -11px;
		padding: 31px 30px 38px 29px;
		&__input {
			display: none;
		}
		&__hr {
			margin-bottom: 22px;
		}
		&__amount-block {
			margin-bottom: 24px;
		}
	}
}
