@use "../../settings/variables.scss" as *;

.one-product-top {
	display: grid;
	grid-template-columns: minmax(auto, 445px) minmax(auto, 510px);
	grid-template-rows: minmax(auto, 142px) auto;
	column-gap: 51px;
	margin-bottom: 78px;
	@media (max-width: 920px) {
		margin-bottom: 48px;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
	@media (max-width: 768px) {
		margin-bottom: 55px;
	}
}

.one-product-top-images {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	@media (max-width: 920px) {
		grid-row: 2 / 3;
		justify-self: center;
	}
	&__product {
		position: relative;
		width: 445px;
		height: 445px;
		border-radius: 12px;
		margin-bottom: 22px;
		overflow: hidden;
		@media (max-width: 480px) {
			width: 345px;
			height: 345px;
			margin-bottom: 18px;
		}
		&-img {
			position: absolute;
			width: 100%;
			inset: 0;
			object-fit: cover;
		}
	}
	&__collection {
		display: flex;
		column-gap: 8px;
		@media (max-width: 480px) {
			column-gap: 6px;
		}
	}
	&__item {
		@media (max-width: 480px) {
			width: 52px;
			height: 52px;
		}
	}
}

.one-product-top-header {
	@media (max-width: 920px) {
		display: flex;
		flex-direction: column-reverse;
		grid-row: 1 / 2;
		row-gap: 25px;
		margin-top: 24px;
		margin-bottom: 14px;
	}
	&__title {
		margin-bottom: 15px;
	}
	&__categories {
		display: flex;
		column-gap: 11px;
	}
	&__available {
		display: flex;
		align-items: center;
		column-gap: 8px;
		padding: 6px 24px 6px 18px;
		background-color: $invisible_green;
		border-radius: 20px;
		&-icon {
			width: 24px;
			height: 24px;
			fill: $invisible_green;
			stroke: $color_primary;
		}
		&-text {
			font-size: 14px;
			color: $color_primary;
		}
	}
	&__category {
		display: flex;
		align-items: center;
		column-gap: 8px;
		padding: 6px 24px 6px 18px;
		background-color: $white;
		border: 1px solid $light_grey_stroke;
		border-radius: 20px;
		&-icon {
			width: 24px;
			height: 24px;
			fill: $green_brand;
			stroke: $green_brand;
		}
		&-text {
			font-weight: 400;
			font-size: 14px;
			line-height: 178%;
			letter-spacing: 0%;
			color: $text_primary;
			text-transform: uppercase;
		}
	}
}

.one-product-top-content {
	@media (max-width: 920px) {
		margin-top: 24px;
	}
	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 6px;
		@media (max-width: 920px) {
			margin-bottom: 16px;
		}
		&-size {
			font-size: 14px;
			color: $text_secondary;
			margin-right: 10px;
		}
		&-quantity,
		&-pack {
			font-weight: 500;
			line-height: 178%;
			letter-spacing: -3.5%;
			color: $text_primary;
			margin-right: 5px;
		}
		&-counter {
			margin-left: auto;
		}
	}
	&__packs {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
		margin-bottom: 24px;
		@media (max-width: 920px) {
			margin-bottom: 18px;
		}
	}
	&__bottom {
		display: flex;
		align-items: center;
		&-discount-block {
		}
		&-discount {
			font-weight: 500;
			letter-spacing: -3.5%;
			color: $text_secondary;
			text-decoration: line-through;
			@media (max-width: 920px) {
				display: none;
			}
		}
		&-price {
			font-weight: 600;
			font-size: 28px;
			line-height: 38.5px;
			color: $text_primary;
		}
		&-heart {
			width: 24px;
			height: 24px;
			fill: $green_brand;
			margin-left: auto;
			margin-right: 14px;
			cursor: pointer;
		}
		&-button-add {
		}
	}
}
