@use "../../settings/variables.scss" as *;

.one-product-reviews {
	margin-bottom: 59px;
	@media (max-width: 768px) {
		margin-bottom: 33px;
	}
	&__title-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 47px;
		@media (max-width: 768px) {
			align-items: center;
			margin-bottom: 21px;
		}
	}
	&__content {
		display: grid;
		grid-template-columns: 350px 1fr;
		column-gap: 30px;
		@media (max-width: 1024px) {
			column-gap: 10px;
		}
		@media (max-width: 768px) {
			display: block;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		@media (max-width: 768px) {
			max-width: 768px;
			overflow-x: auto;
			scrollbar-width: none;
			flex-direction: row;
			column-gap: 10px;
			margin-bottom: 30px;
		}
	}
	&__users {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		@media (max-width: 768px) {
			max-width: 768px;
			overflow-x: auto;
			scrollbar-width: none;
			flex-direction: row;
			column-gap: 10px;
			margin-bottom: 30px;
		}
	}
}

.ranking-block {
	max-width: 350px;
	padding: 25px 28px 24px 28px;
	border: 1px solid $light_grey_stroke;
	border-radius: 12px;
	@media (max-width: 768px) {
		padding: 25px 39px 24px 28px;
		flex-shrink: 0;
	}
	&__top {
		display: flex;
		align-items: start;
		margin-left: 8px;
	}
	&__top-ranking {
		font-weight: 600;
		font-size: 48px;
		line-height: 54px;
		letter-spacing: -5%;
		margin-right: 23px;
	}
	&__top-stars-block {
		display: flex;
		flex-direction: column;
	}
	&__top-reviews {
		font-size: 14px;
		color: $text_secondary;
		margin-left: 4px;
	}
	&__top-stars {
	}
	&__hr {
		margin-bottom: 11px;
	}
	&__bottom {
		display: flex;
		flex-direction: column;
		row-gap: 9px;
	}
}

.photo-block {
	max-width: 350px;
	padding: 20px 26px 24px 24px;
	border: 1px solid $light_grey_stroke;
	border-radius: 12px;
	@media (max-width: 768px) {
		max-width: 308px;
		height: 318px;
		flex-shrink: 0;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 28px;
	}
	&__top-reviews {
		font-size: 14px;
		color: $text_secondary;
		margin-left: 4px;
	}
	&__top-title {
		font-weight: 500;
		line-height: 25px;
		letter-spacing: -4%;
	}
	&__top-view {
		font-weight: 500;
		font-size: 14px;
		letter-spacing: -3.5%;
		color: $green_brand;
	}
	&__grid-img {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
	&__img {
		border-radius: 4px;
		@media (max-width: 768px) {
			width: 100px;
			height: 100px;
		}
	}
}
