@use "../../settings/variables.scss" as *;

.one-product-top {
	display: grid;
	grid-template-columns: minmax(auto, 445px) minmax(auto, 510px);
	column-gap: 51px;
	margin-bottom: 81px;
	@media (max-width: 768px) {
		margin-bottom: 48px;
	}
}

.one-product-top-images {
	&__product {
		position: relative;
		width: 445px;
		height: 445px;
		border-radius: 12px;
		margin-bottom: 22px;
		overflow: hidden;
		&-img {
			position: absolute;
			width: 100%;
			inset: 0;
			object-fit: cover;
		}
	}
	&__collection {
		display: flex;
		column-gap: 8px;
	}
}

.one-product-top-header {
	&__title {
		margin-bottom: 15px;
	}
	&__categories {
		display: flex;
		column-gap: 11px;
	}
	&__available {
		display: flex;
		align-items: center;
		column-gap: 8px;
		padding: 6px 24px 6px 18px;
		background-color: $invisible_green;
		border-radius: 20px;
		&-icon {
			width: 24px;
			height: 24px;
			fill: $invisible_green;
			stroke: $color_primary;
		}
		&-text {
			font-size: 14px;
			color: $color_primary;
		}
	}
}

.one-product-top-content {
}
