@use "../../settings/variables.scss" as *;

.main-reviews {
	overflow-x: hidden;
	margin-bottom: 95px;
	@media (max-width: 580px) {
		margin-bottom: 30px;
	}
	&__title {
		text-align: center;
		margin-bottom: 43px;
		@media (max-width: 540px) {
			text-align: start;
			margin-bottom: 27px;
		}
	}
	&__slider {
		position: relative;
		padding-top: 34px;
		padding-bottom: 54px;
		@media (max-width: 540px) {
			padding: 0;
		}
		.swiper-slide {
			transition: translate 0.8s ease, opacity 0.8s ease-in-out;
			&-next,
			&-prev {
				translate: 0 0;
				opacity: 0.5;
				@media (max-width: 540px) {
					opacity: 1;
				}
			}
			&-active {
				translate: 0 -34px;
				opacity: 1;
				@media (max-width: 540px) {
					translate: 0 0;
				}
			}
		}
		.swiper-pagination-bullet {
			width: 35px;
			height: 6px;
			border-radius: 3px;
			background-color: $green_brand;
			transition: opacity 0.5s ease-in-out;
			&-active {
			}
		}
	}
	&__pagination {
		translate: 0 5px;
		@media (max-width: 540px) {
			display: none;
		}
	}
}
