.our-products {
	margin-top: 59px;
	margin-bottom: 90px;
	@media (max-width: 768px) {
		margin-top: 31px;
		margin-bottom: 17px;
	}
	&__title-block {
		display: flex;
		justify-content: space-between;
		align-items: start;
		margin-bottom: 39px;
		@media (max-width: 768px) {
			align-items: center;
			margin-bottom: 21px;
		}
	}
	&__categories {
		max-width: 1110px;
		display: flex;
		column-gap: 16px;
		scrollbar-width: none;
		overflow-x: auto;
		margin-bottom: 32px;
		@media (max-width: 768px) {
			margin-bottom: 28px;
		}
	}
	&__product-cards {
		&-static {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			align-items: stretch;
			gap: 30px;
			@media (max-width: 1024px) {
				grid-template-columns: repeat(2, 1fr);
				gap: 20px;
			}
			@media (max-width: 680px) {
				display: none;
			}
		}
		&-slider {
			display: none;
			@media (max-width: 680px) {
				display: block;
				overflow: hidden;
			}
		}
	}
}

// .swiper-slide {
// 	display: flex;
// 	height: 100%;
// }
