@use "../../settings/variables.scss" as *;

/* hide input nubmer arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

/* price-range block */
.price-range {
	max-width: 232px;
}

// range imputs for reuse
.price-range-inputs {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 25px;
	&__field {
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	&__label {
		font-size: 14px;
		color: $text_secondary;
		margin-bottom: 2px;
	}
	&__dollar {
		position: absolute;
		top: 39px;
		left: 14px;
	}
	&__input {
		width: 95px;
		padding: 8px 8px 8px 24px;
		border: 1px solid $light_grey_stroke;
		border-radius: 8px;
	}
	&__separator {
		width: 18px;
		height: 2px;
		background-color: $text_secondary;
		translate: -2px 15px;
	}
}

// range slider for reuse
.price-range-slider {
	margin-left: 8px;
	margin-bottom: 16px;
	&.noUi-target {
		width: 232px;
		background-color: $light_grey_stroke;
		border: none;
		box-shadow: none;
		&.noUi-horizontal {
			height: 5px;
		}
		.noUi-connects {
			background-color: $light_grey_stroke;
			.noUi-connect {
				background-color: $green_brand;
			}
		}
		.noUi-origin {
			.noUi-handle {
				transform: translate(-7px, 0);
				width: 14px;
				height: 14px;
				background-color: $white;
				border: 1px solid $green_brand;
				border-radius: 50%;
				box-shadow: $shadow_circle-range;
				&::after,
				&::before {
					display: none;
				}
			}
		}
	}
}
