{% macro articlePicture() %}
  <div class="article-picture">
    <div class="article-picture__bg">
      <img class="article-picture__img" src="/images/article/article_1.png" alt="article image" />

      <img
        class="article-leaves article-leaves_leaf-1"
        src="/images/article/leaf_1.png"
        alt="leaf" />
      <img
        class="article-leaves article-leaves_leaf-2"
        src="/images/article/leaf_2.png"
        alt="leaf" />
      <img
        class="article-leaves article-leaves_leaf-3"
        src="/images/article/leaf_3.png"
        alt="leaf" />
      <img
        class="article-leaves article-leaves_leaf-5"
        src="/images/article/leaf_5.png"
        alt="leaf" />
    </div>
  </div>
{% endmacro %}
