{% macro checkbox( title, checkboxId, value, appearance ) %}
  <label class="checkbox {{ appearance }}">
    <input type="checkbox" class="checkbox__input" id="{{ checkboxId }}" value="{{ value }}" />
    <div class="checkbox__box">
      <svg class="checkbox__icon">
        <use href="/images/sprites.svg#checker-icon"></use>
      </svg>
    </div>
    <span class="checkbox__text">{{ title }}</span>
  </label>
{% endmacro %}
