<div class="price-range" data-min="0" data-max="1000">
	<div class="price-range__inputs">
		<div class="price-range__field">
			<span class="price-range__label">From</span>
			<input type="number" class="price-range__input price-range__input--min" />
		</div>
		<span class="price-range__separator"></span>
		<div class="price-range__field">
			<span class="price-range__label">To</span>
			<input type="number" class="price-range__input price-range__input--max" />
		</div>
	</div>

	<div class="price-range__slider">
		<div class="price-range__track"></div>
		<div class="price-range__progress"></div>

		<input type="range" class="price-range__range price-range__range--min" />
		<input type="range" class="price-range__range price-range__range--max" />
	</div>
</div>
