{% macro header () %}
  <header class="header">
    <div class="header__inner container">
      <div class="header__logo">
        <!-- logo ( ( path, classIcon ) ) -->
        <!-- prettier-ignore -->
        {% from "src/partials/layout/logo.njk" import logo %}
        {{ logo( "/seedra/", "logo-icon_header" ) }}
      </div>

      <div class="header__menu">
        <!-- menu ( classList, classItem ) -->
        <!-- prettier-ignore -->
        {% from "src/partials/layout/menu.njk" import menu %}
        {{ menu( "menu__list_header" ) }}
      </div>

      <div class="header__socials">
        <!-- socials ( classSocials ) -->
        <!-- prettier-ignore -->
        {% from "src/partials/layout/socials.njk" import socials %}
        {{ socials( "socials_header" ) }}
      </div>

      <div class="header__search">
        <!-- search( classSearch, searchFunnelId, searchInputId ) -->
        <!-- prettier-ignore -->
        {% from "src/partials/search.njk" import search %}
        {{ search( "search_header", "", "search-header-product" ) }}
      </div>

      <!-- cart-block -->
      <div class="header__cart-block">
        <a class="header__cart-block-link" href="#!">
          <svg class="header__cart-block-icon">
            <use href="/images/sprites.svg#heart-icon"></use>
          </svg>
        </a>
        <button class="header__cart-block-link" id="open-modal-cart">
          <svg class="header__cart-block-icon">
            <use href="/images/sprites.svg#cart-icon"></use>
          </svg>
        </button>
      </div>

      <button class="header__burger-menu" id="header__burger-menu">
        <svg class="header__burger-menu-icon">
          <use href="/images/sprites.svg#burger-icon"></use>
        </svg>
        <svg class="header__burger-menu-icon-close">
          <use href="/images/sprites.svg#close-modal-icon"></use>
        </svg>
      </button>
    </div>
  </header>
{% endmacro %}
