{% macro input( inputLabel, placeholder, type, classInput, inputId ) %}
  <div class="input-block">
    <label class="label" for="{{ inputId }}">{{ inputLabel }}</label>
    <input class="input {{ classInput }}" id="{{ inputId }}" type="{{ type }}" placeholder="{{ placeholder }}" />
    <p class="validation"></p>
  </div>
{% endmacro %}
