l{% macro input( inputLable, placeholder, type, classInput, inputId ) %}
  <div class="input-block">
    <lable  class="lable" for="{{ inputId }}">{{ inputLable }}</lable>
    <input class="input {{ classInput }}" id="{{ inputId }}" type="{{ type }}" placeholder="{{ placeholder }}" />
    <p class="validation"></p>
  </div>
{% endmacro %}
