@use "../../settings/variables.scss" as *;

.mobile-filter {
	position: absolute;
	top: 160px;
	left: 15px;
	right: 15px;
	padding: 30px 23px 30px 23px;
	background-color: $white;
	border: 1px solid $light_grey_stroke;
	border-radius: 8px;
	box-shadow: $shadow_mobile-filter1, $shadow_mobile-filter2;
	z-index: 300;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	&_open {
		visibility: visible;
		opacity: 1;
	}
}

.triangle-pointer {
	position: absolute;
	top: -8px;
	right: 19px;
	width: 16px;
	height: 16px;
	background-color: $white;
	border-top: 1px solid $light_grey_stroke;
	border-left: 1px solid $light_grey_stroke;
	transform: rotate(45deg);
	z-index: 350;
}
