{% macro filterDropdown( title, classBtn, classContent, appearance1, appearance2, appearance3, appearance4,
option1, id1, value1, option2, id2, value2, option3, id3, value3, option4, id4, value4 ) %}
	<div class="filter-dropdown">

    <button class="filter-dropdown__btn {{ classBtn }}">
      <span class="filter-dropdown__title">{{ title }}</span>
      <svg class="filter-dropdown__icon">
        <use href="/images/sprites.svg#chevron-icon"></use>
      </svg>
    </button>

    <div class="filter-dropdown__content {{ classContent }}">
      <div class="filter-dropdown__inner">

        <!-- checkbox( title, id, value, appearance ) -->
		    {% from "src/partials/checkbox.njk" import checkbox %}

        <div class="filter-dropdown__option">
          {{ checkbox( option1, id1, value1, appearance1 ) }}
        </div>

        <div class="filter-dropdown__option">
          {{ checkbox( option2, id2, value2, appearance2 ) }}
        </div>

        <div class="filter-dropdown__option">
          {{ checkbox( option3, id3, value3, appearance3 ) }}
        </div>
        
        <div class="filter-dropdown__option">
          {{ checkbox( option4, id4, value4, appearance4 ) }}
        </div>
      </div>
    </div>

	</div>
{% endmacro %}
