{% macro filterDropdown( title, option1, value1, option2, value2, option3, value3, option4, value4 ) %}
	<div class="filter-dropdown">

    <button class="filter-dropdown__btn">
      <span class="filter-dropdown__title">{{ title }}</span>
      <svg class="filter-dropdown__icon">
        <use href="/images/sprites.svg#chevron-icon"></use>
      </svg>
    </button>

    <div class="filter-dropdown__content">
      <div class="filter-dropdown__inner">

        <!-- checkbox( title, value ) -->
		    {% from "src/partials/checkbox.njk" import checkbox %}

        <div class="filter-dropdown__option">
          {{ checkbox( option1, value1 ) }}
        </div>

        <div class="filter-dropdown__option">
          {{ checkbox( option2, value2 ) }}
        </div>

        <div class="filter-dropdown__option">
          {{ checkbox( option3, value3 ) }}
        </div>
        
        <div class="filter-dropdown__option">
          {{ checkbox( option4, value4 ) }}
        </div>
      </div>
    </div>

	</div>
{% endmacro %}
