{% macro filterDropdownPrice( title, classBtn, classContent ) %}
	<div class="filter-dropdown">

    <button class="filter-dropdown__btn {{ classBtn }}">
      <span class="filter-dropdown__title">{{ title }}</span>
      <svg class="filter-dropdown__icon">
        <use href="/images/sprites.svg#chevron-icon"></use>
      </svg>
    </button>

    <div class="filter-dropdown__content {{ classContent }}">
      <div class="filter-dropdown__inner">

       

      </div>
    </div>

	</div>
{% endmacro %}
